Repository TeamFogFog/FogFog-iOS, pull requests merged in 2023-08, with the labels that each got.

#63 [#59] Keychain을 이용한 토큰 저장 및 관리
  FogFog-iOS/FogFog-iOS.xcodeproj/project.pbxproj
  FogFog-iOS/FogFog-iOS/Networking/APIServices/AuthAPIService.swift
  FogFog-iOS/FogFog-iOS/Networking/Foundation/NetworkEnv.swift
  FogFog-iOS/FogFog-iOS/Presentation/Common/Coordinator/DefaultAppCoordinator.swift
  FogFog-iOS/FogFog-iOS/Presentation/Login/Coordinator/DefaultLoginCoordinator.swift
  FogFog-iOS/FogFog-iOS/Presentation/Login/Coordinator/Protocol/LoginCoordinator.swift
  FogFog-iOS/FogFog-iOS/Presentation/Login/MakeNicknameViewType.swift
  FogFog-iOS/FogFog-iOS/Presentation/Login/ViewController/MakeNicknameViewController.swift
  FogFog-iOS/FogFog-iOS/Presentation/Login/ViewModel/LoginViewModel.swift
  FogFog-iOS/FogFog-iOS/Presentation/Login/ViewModel/MakeNicknameViewModel.swift
  FogFog-iOS/FogFog-iOS/Presentation/Map/MapViewModel.swift
  FogFog-iOS/FogFog-iOS/Presentation/Setting/Coordinator/DefaultSettingCoordinator.swift
  FogFog-iOS/FogFog-iOS/Presentation/SideBar/SideBarView.swift
  FogFog-iOS/FogFog-iOS/Utils/Class/Keychain.swift
  FogFog-iOS/FogFog-iOS/Utils/Extension/Keychain + Extension.swift
  FogFog-iOS/FogFog-iOS/Utils/Extension/UserDefaults + Extension.swift
Labels: D-2, 🫠 은주, Auth

#64 [Feat] 선호 지도 설정 기능 구현
  FogFog-iOS/FogFog-iOS.xcodeproj/project.pbxproj
  FogFog-iOS/FogFog-iOS.xcworkspace/xcshareddata/swiftpm/Package.resolved
  FogFog-iOS/FogFog-iOS/Networking/APIServices/UserAPIService.swift
  FogFog-iOS/FogFog-iOS/Networking/APIs/AuthAPI.swift
  FogFog-iOS/FogFog-iOS/Networking/APIs/FogAPI.swift
  FogFog-iOS/FogFog-iOS/Networking/APIs/UserAPI.swift
  FogFog-iOS/FogFog-iOS/Networking/Models/EmptyData.swift
  FogFog-iOS/FogFog-iOS/Presentation/ExternalMap/ExternalMapModalView.swift
  FogFog-iOS/FogFog-iOS/Presentation/ExternalMap/ExternalMapModalViewController.swift
  FogFog-iOS/FogFog-iOS/Presentation/ExternalMap/ExternalMapModalViewModel.swift
  FogFog-iOS/FogFog-iOS/Presentation/ExternalMap/ExternalMapType.swift
  FogFog-iOS/FogFog-iOS/Utils/UIComponents/RoadPopUp/RoadPopUpView.swift
  FogFog-iOS/FogFog-iOS/Utils/UIComponents/RoadPopUp/RoadPopUpViewController.swift
  FogFog-iOS/FogFog-iOS/Utils/UIComponents/RoadPopUp/RoadPopUpViewModel.swift
  FogFog-iOS/Podfile.lock
Labels: ☀️ 태끼, UI, Network, refactor

#66 [#54] 토큰 갱신 로직 구현
  FogFog-iOS/FogFog-iOS.xcodeproj/project.pbxproj
  FogFog-iOS/FogFog-iOS/Networking/APIServices/AuthAPIService.swift
  FogFog-iOS/FogFog-iOS/Networking/APIServices/ReissueAPIService.swift
  FogFog-iOS/FogFog-iOS/Networking/APIServices/UserAPIService.swift
  FogFog-iOS/FogFog-iOS/Networking/APIs/AuthAPI.swift
  FogFog-iOS/FogFog-iOS/Networking/APIs/FogAPI.swift
  FogFog-iOS/FogFog-iOS/Networking/Foundation/AuthInterceptor.swift
  FogFog-iOS/FogFog-iOS/Networking/Foundation/NetworkEnv.swift
  FogFog-iOS/FogFog-iOS/Networking/Foundation/Networking.swift
  FogFog-iOS/FogFog-iOS/OAuth/OAuthProviderType.swift
  FogFog-iOS/FogFog-iOS/Presentation/ExternalMap/ExternalMapModalViewModel.swift
  FogFog-iOS/FogFog-iOS/Presentation/Login/Coordinator/DefaultLoginCoordinator.swift
Labels: Auth
